/* 提示 */
.tooltip {
    z-index: 99;
    position: absolute;
    padding: .8rem;
    color: #fff;
    background-color: rgba(166, 218, 220, .6);
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    border-radius: .8rem;
    -moz-box-shadow: .1rem .1rem .2rem hsla(0, 0%, 0%, 0.3);
    -webkit-box-shadow: .1rem .1rem .2rem hsla(0, 0%, 0%, 0.3);
    box-shadow: .1rem .1rem .2rem hsla(0, 0%, 0%, 0.3);
}

.tooltip:before {
    content: "\00a0";
    position: absolute;
    top: 0;
    left: -1rem;
    bottom: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    border-width: 0rem 1rem 1.2rem 0;
    border-style: solid;
    border-color: transparent rgba(166, 218, 220, .6) transparent transparent;
}